<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Yeni Sunucu Ekle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">
        <div class="top-bar">
            <h1 id="title">Yeni Sunucu Ekle</h1>

            <button type="button" id="langButton">
                TR / EN
            </button>
        </div>
            
            <form action="/add" method="POST"> 

                <label id="l1">Sunucu Adı</label>
                <input type="text" name="ad" required>

                <label id="l2">Disk Boyutu</label>
                <input type="text" name="disk" required>

                <label id="l9">Disk Boyut Türü (GB/TB)</label>
                <select name="disktur" class="beautifySelect">
                    <option value="GB">GB</option>
                    <option value="TB">TB</option>
                </select>

                <label id="l3">İşletim Sistemi</label>
                <select name="server" id="server" class="beautifySelect">
                    <option value="" id="sunucusec">Sunucu Seçin</option>

                    {% for os in os_list %}
                        <option value="{{ os.name }}">{{ os.name }}</option>
                    {% endfor %}
                    
                    <option value="Yeni" id="yeni">Yeni</option>
                </select>
                <div id="serverekle" style="display: none;">
                    <label id="l10">Yeni İşletim Sistemi</label>
                    <input type="text" name="isletim">
                </div>
                <br><br>

                <label id="l4">RAM</label>
                <input type="text" name="ram" required>
                
                <label id="l5">IP</label>
                <input type="text" name="ip" required>

                <label id="l7">CPU</label>
                <input type="text" name="cpu" required>

                <label id="l8">Tarih</label>
                <input type="date" name="tarih">

                <label id="l6">Açıklama</label>
                <input type="text" name="aciklama">

                {% if custom_columns %}

                <hr> <br>

                <h3>Özel Alanlar</h3>

                {% for column in custom_columns %}

                    <label>{{ column.column_name }}</label>

                    {% if column.data_type == "TEXT" %}

                        <input
                            type="text"
                            name="custom_{{ column.id }}">

                    {% elif column.data_type == "INTEGER" %}

                        <input
                            type="number"
                            step="1"
                            name="custom_{{ column.id }}">

                    {% elif column.data_type == "DECIMAL" %}

                        <input
                            type="number"
                            step="0.01"
                            name="custom_{{ column.id }}">

                    {% elif column.data_type == "DATE" %}

                        <input
                            type="date"
                            name="custom_{{ column.id }}">

                    {% elif column.data_type == "BOOLEAN" %}

                        <input
                            type="checkbox"
                            value="True"
                            name="custom_{{ column.id }}"
                            class="custom-checkbox">

                    {% endif %}

                {% endfor %}

                {% endif %}

                <div class="buttons">
                    <button type="submit" id="saveBtn">Ekle</button>

                    <a href="/" id="cancelBtn">İptal</a>
                </div>

            </form>    
    </div>
        

        <script src="{{ url_for('static', filename='js/add.js')}}"> </script>
</body>

</html>