<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>{{translations.add_new_column}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="toast">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}

    <div class="container">
        <div class="top-bar">
            <h1 id="title">{{translations.add_new_column}}</h1>

            <a href="/change_language/{{ 'en' if lang == 'tr' else 'tr' }}"
                id="langButton">
                    {{ 'EN' if lang == 'tr' else 'TR' }}
            </a>
        </div>
            
            <form action="/addcolumn" method="POST"> 

                <label id="colNameLabel">{{translations.col_name}}</label>
                <input type="text" name="colName" required>

                <label id="dataTypeLabel">{{translations.data_type}}</label>
                <select name="dataType" class="beautifySelect">
                    <option value="TEXT">TEXT</option>
                    <option value="INTEGER">INTEGER</option>
                    <option value="DECIMAL">DECIMAL</option>
                    <option value="DATE">DATE</option>
                    <option value="BOOLEAN">BOOLEAN</option>
                </select>

                <div class="buttons">
                    <button type="submit" id="saveColumnBtn">{{translations.add}}</button>

                    <a href="/" id="cancelColumnBtn">{{translations.cancel}}</a>
                </div>
            </form>    
    </div>
        
        <script src="{{ url_for('static', filename='js/addcolumn.js')}}"> </script>
        
</body>

</html>