<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="toast">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}

    <div class="page-header">
        <div class="header-left">
            <h1 id="title">
                {{translations.title}}
            </h1>

            <div class="user-info">
                <i class="fa-solid fa-user"></i>

                {{ username }}

                {% if is_admin %}
                - {{translations.admin}}
                {% else %}
                - {{translations.visitor}}
                {% endif %}
            </div>
        </div>

        <div class="header-buttons">

            <a href="/logout" title="{{translations.logout}}" class="logout-btn"
                onclick="return confirm('{{translations.logout_confirm}}')">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </div>
    </div>

    {% include 'navbar.html' %}

    <h1>Clients</h1>

    <table>
        <thead>
            <tr>
                <th>Client</th>
                <th>IP</th>
                <th>Kullanıcı</th>
                <th>OS</th>
                <th>Durum</th>
                <th>Site Durumu</th>
                <th>Son Görülme</th>
            </tr>
        </thead>

        <tbody>
            {% for client in clients %}
            <tr>

                <td>{{ client["hostname"] }}</td>

                <td>{{ client["ip_address"] }}</td>

                <td>{{ client["username"] }}</td>

                <td>{{ client["os_name"] }}</td>

                <td>
                    {% if client["status"] == "online" %}
                    🟢 Online
                    {% else %}
                    🔴 Offline
                    {% endif %}
                </td>

                <td>
                    {% if client["site_status"] == "active" %}
                    🟢 Aktif
                    {% else %}
                    🔴 Pasif
                    {% endif %}
                </td>

                <td>{{ client["last_seen"] or "-" }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>