<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{translations.title_i}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div id="toast" class="{{ category }}-toast">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="page-header">
        <div class="header-left">
            <h1 id="title">
                {{translations.title}}
            </h1>

            <div class="user-info">
                <i class="fa-solid fa-user"></i>

                {{ username }}

                {% if is_admin %}
                - {{translations.admin}}
                {% else %}
                - {{translations.visitor}}
                {% endif %}
            </div>
        </div>

        <div class="header-buttons">

            {% if is_admin %}
            <button id="tableSettingsBtn" class="beautify">
                {{translations.table_settings}}
            </button>
            {% endif %}

            <a href="/logout" title="{{translations.logout}}" class="logout-btn"
                onclick="return confirm('{{translations.logout_confirm}}')">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </div>
    </div>

    {% include 'navbar.html' %}

    <div class="cards">

        <div class="card">
            <h2 id="serverCount">{{ servers|length }}</h2>
            <p id="card1">{{translations.total_server}}</p>
        </div>

        <div class="card">
            <h2>GIG</h2>
            <p id="card3">{{translations.inventory}}</p>
        </div>

        <div class="card">
            <h2>{{ windows_amount }}</h2>
            <p id="card2">{{translations.windows_server}}</p>
        </div>


    </div>

    <div class="toolbar">
        <form id="searchForm" action="/search" method="GET">
            <div class="search-area">
                <input type="text" id="searchInput" name="q" placeholder="{{translations.search_placeholder}}"
                    value="{{ request.args.get('q','') }}">

                <button type="submit" id="searchBtn" class="beautify" data-lang="search">
                    {% if request.path == "/search" %}
                    {{translations.back}}
                    {% else %}
                    {{translations.search}}
                    {% endif %}
                </button>

                <button type="button" id="searchSettingsBtn" class="beautify">
                    {{translations.search_settings}}
                </button>
            </div>

            <div id="searchSettingsOverlay">
                <div id="searchSettingsPanel">
                    <span id="closeSearchSettings">✖</span>
                    <h2 id="aramalabel">{{translations.search_settings_i}}</h2>
                    <br>
                    <h3 id="aranacakalan">{{translations.search_fields}}</h3>
                    <div class="search-options">

                        <div class="search-fields">
                            <label id="sl1">
                                <input type="checkbox" name="fields" value="name" checked>
                                {{translations.e_server}}
                            </label>

                            <label id="sl2">
                                <input type="checkbox" name="fields" value="os_name" checked>
                                {{translations.os}}
                            </label>

                            <label id="sl3">
                                <input type="checkbox" name="fields" value="ip_address" checked>
                                {{translations.ip_address}}
                            </label>

                            <label id="sl4">
                                <input type="checkbox" name="fields" value="usage_project" checked>
                                {{translations.description}}
                            </label>

                            <label id="sl5">
                                <input type="checkbox" name="fields" value="disk_gb" checked>
                                {{translations.e_disk}}
                            </label>

                            <div id="diskUnitOptions">
                                <label>
                                    <input type="radio" name="disk_unit" value="GB" checked>
                                    GB
                                </label>

                                <label>
                                    <input type="radio" name="disk_unit" value="TB">
                                    TB
                                </label>
                            </div>

                            <label>
                                <input type="checkbox" name="fields" value="ram_g" checked>
                                {{translations.ram}}
                            </label>

                            <label>
                                <input type="checkbox" name="fields" value="core_amount" checked>
                                {{translations.cpu}}
                            </label>

                            <label id="sl6">
                                <input type="checkbox" name="fields" value="created_at" checked>
                                {{translations.date}}
                            </label>

                            {% for col in custom_columns %}
                            <label>
                                <input type="checkbox" name="fields" value="custom_{{ col.id }}" checked>
                                {{ col.column_name }}
                            </label>
                            {% endfor %}

                        </div>

                        <div class="search-buttons">
                            <button type="button" id="selectAllBtn" class="beautify">{{translations.select_all}}</button>
                            <button type="button" id="clearAllBtn" class="beautify"> {{translations.clear_all}}</button>

                            <div id="diskCompareOptions">

                                <label id="ssr1">
                                    <input type="radio" name="disk_compare" value="equal">
                                    {{translations.equals}}
                                </label>

                                <label id="ssr2">
                                    <input type="radio" name="disk_compare" value="gte">
                                    {{translations.min}}
                                </label>

                                <label id="ssr3">
                                    <input type="radio" name="disk_compare" value="lte" checked>
                                    {{translations.max}}
                                </label>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </form>

        <div>
            {% if is_admin %}
            <a href="/add" class="add-btn" id="addBtn">{{translations.new_server}}</a>
            {% endif %}

        </div>
    </div>
    <div class="table-wrapper">
        <table id="serverTable">
            <thead>
                <tr>
                    <th id="th0" data-col="name" draggable="true" class="draggable-th">
                        <div class="th-wrapper">
                            <span>{{translations.server}}</span>
                            <button class="column-menu-btn" onclick="toggleColumnMenu(event, 'name')">▼</button>
                        </div>
                    </th>
                    <th id="th1" data-col="disk" draggable="true" class="draggable-th">
                        <div class="th-wrapper">
                            <span>{{translations.disk}}</span>
                            <button class="column-menu-btn" onclick="toggleColumnMenu(event, 'disk')">▼</button>
                        </div>
                    </th>
                    <th id="th2" data-col="os" draggable="true" class="draggable-th">
                        <div class="th-wrapper">
                            <span>{{translations.os}}</span>
                            <button class="column-menu-btn" onclick="toggleColumnMenu(event, 'os')">▼</button>
                        </div>
                    </th>
                    <th id="th3" data-col="ram" draggable="true" class="draggable-th">
                        <div class="th-wrapper">
                            <span>{{translations.ram}}</span>
                            <button class="column-menu-btn" onclick="toggleColumnMenu(event, 'ram')">▼</button>
                        </div>
                    </th>
                    <th id="th4" data-col="ip" draggable="true" class="draggable-th">
                        <div class="th-wrapper">
                            <span>{{translations.ip}}</span>
                            <button class="column-menu-btn" onclick="toggleColumnMenu(event, 'ip')">▼</button>
                        </div>
                    </th>
                    <th id="th5" data-col="desc" draggable="true" class="draggable-th">
                        <div class="th-wrapper">
                            <span>{{translations.description}}</span>
                            <button class="column-menu-btn" onclick="toggleColumnMenu(event, 'desc')">▼</button>
                        </div>
                    </th>
                    <th id="th6" data-col="cpu" draggable="true" class="draggable-th">
                        <div class="th-wrapper">
                            <span>{{translations.cpu}}</span>
                            <button class="column-menu-btn" onclick="toggleColumnMenu(event, 'cpu')">▼</button>
                        </div>
                    </th>
                    <th id="th7" data-col="date" draggable="true" class="draggable-th">
                        <div class="th-wrapper">
                            <span>{{translations.date}}</span>
                            <button class="column-menu-btn" onclick="toggleColumnMenu(event, 'date')">▼</button>
                        </div>
                    </th>

                    {% for col in custom_columns %}
                    <th id="th{{ loop.index0 + 8 }}" data-col="custom_{{ col.id }}" draggable="true"
                        class="draggable-th">
                        <div class="th-wrapper">
                            <span>{{ col.column_name }}</span>
                            <button class="column-menu-btn"
                                onclick="toggleColumnMenu(event, 'custom_{{ col.id }}')">▼</button>
                        </div>
                    </th>
                    {% endfor %}

                    {% if is_admin %}
                    <th id="th_last">{{translations.operation}}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for s in servers %}
                <tr class="serverRow">
                    <td id="left" data-col="name">{{ s.name }}</td>
                    <td data-col="disk">{{ s.disk_gb }}</td>
                    <td data-col="os">{{ s.os_name }}</td>
                    <td data-col="ram">{{ s.ram_g }}</td>
                    <td data-col="ip">{{ s.ip_address }}</td>
                    <td data-col="desc">{{ s.usage_project }}</td>
                    <td data-col="cpu">{{ s.core_amount }}</td>
                    <td data-col="date">{{ s.created_at }}</td>

                    {% for col in custom_columns %}
                    <td data-col="custom_{{ col.id }}">{{ s.custom_values.get(col.id, "") }}</td>
                    {% endfor %}

                    {% if is_admin %}
                    <td>

                        <a href="#" class="edit-btn" data-custom='{{ s.custom_values | tojson }}' onclick='openPanel(
                                "{{ s.id }}",
                                "{{ s.name }}",
                                "{{ s.disk_gb }}",
                                "{{ s.os_name }}",
                                "{{ s.ram_g }}",
                                "{{ s.ip_address }}",
                                "{{ s.usage_project }}",
                                "{{ s.core_amount }}",
                                "{{ s.created_at }}",
                                JSON.parse(this.dataset.custom)
                            ); return false;'>
                            ✏️
                        </a>

                        <a href="/delete/{{ s.id }}" class="delete-btn"
                            onclick="return confirm('{{translations.are_u_sure_delete}}')">
                            🗑️
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% else %}

                <tr class="serverRow">

                    <td colspan="10" style="text-align: center;">
                        {{ translations.no_server_yet }}
                    </td>

                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="sharedColumnMenu" class="column-dropdown-menu" style="display:none;">
        <div onclick="executeSort('asc')">{{translations.asc}}</div>
        <div onclick="executeSort('desc')">{{translations.desc}}</div>
        <div onclick="openSharedSearch(event)">{{translations.search_column}}</div>
    </div>

    <div id="editOverlay"></div>

    <div id="editPanel">
        <span onclick="closePanel()" id="closeBtn">✖</span>

        <h2 id="editSunucuDuzenle">{{translations.edit}}</h2>

        <form id="editForm" method="POST">
            <label id="esl1">{{translations.e_server}}</label><br>
            <input type="text" name="ad" id="p_name" required><br><br>

            <label id="esl2">{{translations.e_disk}}</label><br>
            <input type="number" name="disk" id="p_disk" min="1" step="any" required><br><br>

            <label id="esl3">{{translations.e_disk_type}}</label><br>
            <select name="disktur" id="p_disktur" class="beautifySelect">
                <option value="GB">GB</option>
                <option value="TB">TB</option>
            </select>

            <label id="esl4">{{translations.os}}</label><br>

            <select name="server" id="server" class="beautifySelect" required>
                <option value="" selected disabled>
                    {{translations.select_os}}
                </option>

                {% for os in os_list %}
                <option value="{{ os.name }}">{{ os.name }}</option>
                {% endfor %}

                <option value="Yeni" id="esl42">{{ translations.new }}</option>
            </select>

            <div id="serverekle" style="display:none; margin-top:10px;">
                <input type="text" name="isletim" placeholder="{{ translations.new_os }}" id="yeniIsletim">
            </div>

            <br><br>

            <label>{{translations.ram}}</label><br>
            <input type="number" name="ram" id="p_ram" min="1" step="any" required><br><br>

            <label>{{translations.ip}}</label><br>
            <input type="text" name="ip" id="p_ip" required><br><br>

            <label id="esl5">{{translations.description}}</label><br>
            <input type="text" name="project" id="p_project"><br><br>

            <label>{{translations.cpu}}</label><br>
            <input type="number" name="cpu" id="p_cpu" min="1" step="1" required><br><br>

            <label id="esl6">{{translations.date}}</label><br>
            <input type="date" name="date" id="p_date"><br><br>

            <hr> <br>

            <h3>{{translations.special_areas}}</h3>

            {% for column in custom_columns %}

            <label>{{ column.column_name }}</label>

            {% if column.data_type == "TEXT" %}
            <input type="text" id="custom_{{ column.id }}" name="custom_{{ column.id }}"> <br> <br>

            {% elif column.data_type == "INTEGER" %}
            <input type="number" step="1" id="custom_{{ column.id }}" name="custom_{{ column.id }}"> <br> <br>

            {% elif column.data_type == "DECIMAL" %}
            <input type="number" step="0.01" id="custom_{{ column.id }}" name="custom_{{ column.id }}"> <br> <br>

            {% elif column.data_type == "DATE" %}
            <input type="date" id="custom_{{ column.id }}" name="custom_{{ column.id }}"> <br> <br>

            {% elif column.data_type == "BOOLEAN" %}
            <input type="checkbox" id="custom_{{ column.id }}" name="custom_{{ column.id }}" value="True"
                class="custom-checkbox"> <br> <br>

            {% endif %}

            {% endfor %}

            <button type="submit" class="add-btn" id="saveEditBtn">{{translations.save}}</button>
        </form>
    </div>

    <div id="columnOverlay"></div>

    <div id="columnPanel">

        <span onclick="closeColumnPanel()" id="closeColumnBtn">✖</span>

        <h2>{{translations.e_column}}</h2>

        <form id="columnForm" method="POST">

            <label>{{translations.select_column}}</label><br>

            <select id="columnSelect" class="beautifySelect" onchange="fillColumn()">

                {% for c in custom_columns %}
                <option value="{{ c.id }}" data-name="{{ c.column_name }}" data-type="{{ c.data_type }}">
                    {{ c.column_name }}
                </option>
                {% endfor %}

            </select>

            <br><br>

            <label>{{translations.col_name}}</label><br>

            <input type="text" id="columnName" name="columnName">

            <br><br>

            <label>{{translations.data_type}}</label><br>

            <select id="columnType" name="dataType" class="beautifySelect">

                <option value="TEXT">TEXT</option>
                <option value="INTEGER">INTEGER</option>
                <option value="DECIMAL">DECIMAL</option>
                <option value="DATE">DATE</option>
                <option value="BOOLEAN">BOOLEAN</option>

            </select>

            <br><br>

            <button class="add-btn bold" type="submit">

                {{translations.save}}

            </button>

        </form>

    </div>

    <div id="columndeletelay"></div>

    <div id="columnDeletePanel">

        <span id="closeDeleteColumnBtn">✖</span>

        <h2>{{translations.delete_column}}</h2> <br>

        <form id="columnDeleteForm" method="POST">

            <label>{{translations.select_column}}</label><br>

            <select id="columnDeleteSelect" class="beautifySelect" onchange="fillDeleteColumn()">

                {% for c in custom_columns %}
                <option value="{{ c.id }}" data-name="{{ c.column_name }}" data-type="{{ c.data_type }}">
                    {{ c.column_name }}
                </option>
                {% endfor %}

            </select>

            <br><br>

            <button class="delete-btn bold" type="submit">

                {{translations.delete}}

            </button>

        </form>

    </div>

    <div id="tableSettingsOverlay">
        <div id="tableSettingsPanel">

            <span id="closeTableSettings">✖</span>

            <h2 id="tableLabel">{{translations.table_settings_i}}</h2>
            <br>

            <div class="table-options">

                <div class="table-fields">

                    <label id="ts1"><input type="checkbox" data-col="name" checked
                            class="columnToggle">{{translations.e_server}}</label>
                    <label id="ts2"><input type="checkbox" data-col="disk" checked class="columnToggle">
                        {{translations.e_disk}}</label>
                    <label id="ts3"><input type="checkbox" data-col="os" checked class="columnToggle">
                        {{translations.os}}</label>
                    <label id="ts4"><input type="checkbox" data-col="ram" checked
                            class="columnToggle">{{translations.ram}}</label>
                    <label id="ts5"><input type="checkbox" data-col="ip" checked class="columnToggle">
                        {{translations.ip}}</label>
                    <label id="ts6"><input type="checkbox" data-col="desc" checked class="columnToggle">
                        {{translations.description}}</label>
                    <label id="ts7"><input type="checkbox" data-col="cpu" checked class="columnToggle">
                        {{translations.cpu}}</label>
                    <label id="ts8"><input type="checkbox" data-col="date" checked class="columnToggle">
                        {{translations.date}}</label>

                    {% for col in custom_columns %}
                    <label><input type="checkbox" data-col="custom_{{ col.id }}" checked class="columnToggle"> {{
                        col.column_name }}</label>
                    {% endfor %}

                </div>

                <div class="table-buttons">

                    <a href="/addcolumn" class="add-btn" id="addColumnBtn" title="{{translations.add_column}}">
                        ➕
                    </a>

                    <button class="delete-btn" id="deleteColumnBtn" title="{{translations.delete_column}}">
                        ➖
                    </button>



                    <button id="editColumnPanelBtn" class="beautify" title="{{translations.e_column}}"
                        onclick="openColumnPanel()">
                        ✏️
                    </button>

                </div>

            </div>

        </div>
    </div>

    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>

</html>