<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunucu Envanteri</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="toast">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}


    <div class="page-header">
        <h1 id="title">🖥️ Sunucu Envanteri</h1>

        <div class="header-buttons">
            <button id="tableSettingsBtn" class="beautify">
                ⚙️ Tablo Ayarları
            </button>

            <a href="/logout"
            class="logout-btn"
            onclick="return confirm('Çıkış yapmak istediğinize emin misiniz?')">
                ⏻
            </a>
        </div>
    </div>

    <div class="cards">

        <div class="card">
            <h2>{{ servers|length }}</h2>
            <p id="card1">Toplam Sunucu</p>
        </div>

        <div class="card">
            <h2>{{ windows_amount }}</h2>
            <p id="card2">Windows Sunucu</p>
        </div>

        <div class="card">
            <h2>GIG</h2>
            <p id="card3">IT Envanteri</p>
        </div>

    </div>

    <div class="toolbar"> 
        <form id="searchForm" action="/search" method="GET">
            <div class="search-area">
                <input type="text"
                    id="searchInput"
                    name="q"
                    placeholder="🔍 Sunucu Ara..."
                    value="{{ request.args.get('q','') }}">

                <button type="submit" id="searchBtn" class="beautify">
                    {% if request.path == "/search" %}
                        ⬅️ Geri Dön
                    {% else %}
                        🔍 Ara
                    {% endif %}
                </button>

                <button type="button" id="searchSettingsBtn" class="beautify">
                    ⚙️ Arama Ayarları
                </button>
            </div>
        </form>
        
        <div> 
            <a href="/add" class="add-btn" id="addBtn">➕ Yeni Sunucu</a> 
            <button id="langButton"> TR / EN </button> 
        </div>
    </div>

    <div class="table-wrapper">
        <table id="serverTable">
            <thead>
                <tr>
                    <th id="th0" data-col="name" draggable="true" class="draggable-th">Sunucu</th>
                    <th id="th1" data-col="disk" draggable="true" class="draggable-th">Disk Boyutu (GB)</th>
                    <th id="th2" data-col="os" draggable="true" class="draggable-th">İşletim Sistemi</th>
                    <th id="th3" data-col="ram" draggable="true" class="draggable-th">RAM</th>
                    <th id="th4" data-col="ip" draggable="true" class="draggable-th">IP</th>
                    <th id="th5" data-col="desc" draggable="true" class="draggable-th">Açıklama</th>
                    <th id="th6" data-col="cpu" draggable="true" class="draggable-th">CPU</th>
                    <th id="th7" data-col="date" draggable="true" class="draggable-th">Tarih</th>

                    {% for col in custom_columns %}
                        <th id="th{{ loop.index0 + 8 }}" data-col="custom_{{ col.id }}" draggable="true" class="draggable-th">{{ col.column_name }}</th>
                    {% endfor %}

                    <th id="th_last">İşlem</th>
                </tr>
            </thead>
            <tbody> 
                {% for s in servers %} 
                <tr class="serverRow">
                    <td id="left" data-col="name">{{ s.name }}</td>
                    <td data-col="disk">{{ s.disk_gb }}</td>
                    <td data-col="os">{{ s.os_name }}</td>
                    <td data-col="ram">{{ s.ram_g }}</td>
                    <td data-col="ip">{{ s.ip_address }}</td>
                    <td data-col="desc">{{ s.usage_project }}</td>
                    <td data-col="cpu">{{ s.core_amount }}</td>
                    <td data-col="date">{{ s.created_at }}</td>

                    {% for col in custom_columns %}
                        <td data-col="custom_{{ col.id }}">{{ s.custom_values.get(col.id, "") }}</td>
                    {% endfor %}

                    <td>
                        <a href="#"
                        class="edit-btn"
                        data-custom='{{ s.custom_values | tojson }}'
                        onclick='openPanel(
                            "{{ s.id }}",
                            "{{ s.name }}",
                            "{{ s.disk_gb }}",
                            "{{ s.os_name }}",
                            "{{ s.ram_g }}",
                            "{{ s.ip_address }}",
                            "{{ s.usage_project }}",
                            "{{ s.core_amount }}",
                            "{{ s.created_at }}",
                            JSON.parse(this.dataset.custom)
                        ); return false;'>
                            ✏️
                        </a>

                        <a href="/delete/{{ s.id }}" class="delete-btn"
                        onclick="return confirm('Bu sunucuyu silmek istediğinize emin misiniz?')">
                            🗑️
                        </a>
                    </td>

                </tr> 
                {% endfor %} 
            </tbody>
        </table>
    </div>

    <div id="editOverlay"></div>

    <div id="editPanel">
        <span onclick="closePanel()" id="closeBtn">✖</span>

        <h2 id="editSunucuDuzenle">Sunucu Düzenle</h2>

        <form id="editForm" method="POST">
            <label id="esl1">Sunucu Adı</label><br>
            <input type="text" name="ad" id="p_name"><br><br>

            <label id="esl2">Disk Boyutu</label><br>
            <input type="number" name="disk" id="p_disk" step="any"><br><br>

            <label id="esl3">Disk Boyut Türü (GB/TB)</label><br>
            <select name="disktur" id="p_disktur" class="beautifySelect">
                <option value="GB">GB</option>
                <option value="TB">TB</option>
            </select>

            <label id="esl4">İşletim Sistemi</label><br>

            <select name="server" id="server" class="beautifySelect">
                <option value="" id="esl41">Sunucu Seçin</option>

                {% for os in os_list %}
                    <option value="{{ os.name }}">{{ os.name }}</option>
                {% endfor %}

                <option value="Yeni" id="esl42">Yeni</option>
            </select>

            <div id="serverekle" style="display:none; margin-top:10px;">
                <input
                    type="text"
                    name="isletim"
                    placeholder="Yeni işletim sistemi"
                    id="yeniIsletim">
            </div>
            <br><br>

            <label>RAM (GB)</label><br>
            <input type="number" name="ram" id="p_ram" ><br><br>

            <label>IP</label><br>
            <input type="text" name="ip" id="p_ip"><br><br>

            <label id="esl5">Açıklama</label><br>
            <input type="text" name="project" id="p_project"><br><br>

            <label>CPU</label><br>
            <input type="number" name="cpu" id="p_cpu"><br><br>

            <label id="esl6">Tarih</label><br>
            <input type="date" name="date" id="p_date"><br><br>

            <hr> <br>

            <h3>-Özel Alanlar-</h3>

            {% for column in custom_columns %}

                <label>{{ column.column_name }}</label>

                {% if column.data_type == "TEXT" %}
                    <input type="text"
                        id="custom_{{ column.id }}" 
                        name="custom_{{ column.id }}"> <br> <br>

                {% elif column.data_type == "INTEGER" %}
                    <input type="number"
                        step="1"
                        id="custom_{{ column.id }}"
                        name="custom_{{ column.id }}"> <br> <br>

                {% elif column.data_type == "DECIMAL" %}
                    <input type="number"
                        step="0.01"
                        id="custom_{{ column.id }}"
                        name="custom_{{ column.id }}"> <br> <br>

                {% elif column.data_type == "DATE" %}
                    <input type="date"
                        id="custom_{{ column.id }}"
                        name="custom_{{ column.id }}"> <br> <br>

                {% elif column.data_type == "BOOLEAN" %}
                    <input type="checkbox"
                        id="custom_{{ column.id }}"
                        name="custom_{{ column.id }}" 
                        value="True"
                        class="custom-checkbox"> <br> <br>

                {% endif %}

            {% endfor %}

            <button type="submit" class="add-btn" id="saveEditBtn">Kaydet</button>
        </form>
    </div>

    <div id="columnOverlay"></div>

        <div id="columnPanel">

            <span onclick="closeColumnPanel()" id="closeColumnBtn">✖</span>

            <h2>Sütun Düzenle</h2>

            <form id="columnForm" method="POST">

                <label>Sütun Seçin</label><br>

                <select
                    id="columnSelect"
                    class="beautifySelect"
                    onchange="fillColumn()">

                    {% for c in custom_columns %}
                        <option
                            value="{{ c.id }}"
                            data-name="{{ c.column_name }}"
                            data-type="{{ c.data_type }}">
                            {{ c.column_name }}
                        </option>
                    {% endfor %}

                </select>

                <br><br>

                <label>Sütun Adı</label><br>

                <input
                    type="text"
                    id="columnName"
                    name="columnName">

                <br><br>

                <label>Veri Tipi</label><br>

                <select
                    id="columnType"
                    name="dataType"
                    class="beautifySelect">

                    <option value="TEXT">TEXT</option>
                    <option value="INTEGER">INTEGER</option>
                    <option value="DECIMAL">DECIMAL</option>
                    <option value="DATE">DATE</option>
                    <option value="BOOLEAN">BOOLEAN</option>

                </select>

                <br><br>

                <button
                    class="add-btn bold"
                    type="submit">

                    Kaydet

                </button>

            </form>

        </div>

        <div id="columndeletelay"></div>

        <div id="columnDeletePanel">

            <span  id="closeDeleteColumnBtn">✖</span>

            <h2>Sütun Sil</h2> <br>

            <form id="columnDeleteForm" method="POST">

                <label>Sütun Seçin</label><br>

                <select
                    id="columnDeleteSelect"
                    class="beautifySelect"
                    onchange="fillDeleteColumn()">

                    {% for c in custom_columns %}
                        <option
                            value="{{ c.id }}"
                            data-name="{{ c.column_name }}"
                            data-type="{{ c.data_type }}">
                            {{ c.column_name }}
                        </option>
                    {% endfor %}

                </select>

                <br><br>

                <button
                    class="delete-btn bold"
                    type="submit">

                    Sil

                </button>

            </form>

        </div>


    <div id="searchSettingsOverlay">
        <div id="searchSettingsPanel">
            <span id="closeSearchSettings">✖</span>
            <h2 id="aramalabel">Arama Ayarları</h2>
            <br>
            <h3 id="aranacakalan">Aranacak Alanlar</h3>
            <div class="search-options">

                <div class="search-fields">
                    <label id="sl1">
                        <input type="checkbox" name="fields" value="name" checked>
                        Sunucu Adı 
                    </label>

                    <label id="sl2">
                        <input type="checkbox" name="fields" value="os_name" checked>
                        İşletim Sistemi
                    </label>

                    <label id="sl3">
                        <input type="checkbox" name="fields" value="ip_address" checked>
                        IP Adresi
                    </label>

                    <label id="sl4">
                        <input type="checkbox" name="fields" value="usage_project" checked>
                        Açıklama
                    </label>

                    <label id="sl5">
                        <input type="checkbox" name="fields" value="disk_gb" checked>
                        Disk Boyutu
                    </label>

                    <div id="diskUnitOptions">
                        <label>
                            <input type="radio" name="disk_unit" value="GB" checked>
                            GB
                        </label>

                        <label>
                            <input type="radio" name="disk_unit" value="TB">
                            TB
                        </label>
                    </div>

                    <label>
                        <input type="checkbox" name="fields" value="ram_g" checked>
                        RAM
                    </label>

                    <label>
                        <input type="checkbox" name="fields" value="core_amount" checked>
                        CPU
                    </label>

                    <label id="sl6">
                        <input type="checkbox" name="fields" value="created_at" checked>
                        Tarih
                    </label>

                    {% for col in custom_columns %}
                        <label>
                            <input type="checkbox" 
                                name="fields" 
                                value="custom_{{ col.id }}" checked>
                            {{ col.column_name }}
                        </label>
                    {% endfor %}

                </div>

                <div class="search-buttons">
                    <button type="button" id="selectAllBtn" class="beautify">Tümünü Seç</button>
                    <button type="button" id="clearAllBtn" class="beautify">Temizle</button>

                    <div id="diskCompareOptions">

                        <label id="ssr1">
                            <input type="radio" name="disk_compare" value="equal" checked>
                            Tam eşleşme
                        </label>

                        <label id="ssr2">
                            <input type="radio" name="disk_compare" value="gte">
                            En az (≥)
                        </label>

                        <label id="ssr3">
                            <input type="radio" name="disk_compare" value="lte">
                            En fazla (≤)
                        </label>

                    </div>
                </div>

                

            </div>

        </div>
    </div>

    <div id="tableSettingsOverlay">
        <div id="tableSettingsPanel">

            <span id="closeTableSettings">✖</span>

            <h2 id="tableLabel">Tablo Ayarları</h2>
            <br>

            <div class="table-options">

                <div class="table-fields">

                    <label id="ts1"><input type="checkbox" data-col="name" checked class="columnToggle"> Sunucu Adı</label>
                    <label id="ts2"><input type="checkbox" data-col="disk" checked class="columnToggle"> Disk Boyutu</label>
                    <label id="ts3"><input type="checkbox" data-col="os" checked class="columnToggle"> İşletim Sistemi</label>
                    <label id="ts4"><input type="checkbox" data-col="ram" checked class="columnToggle"> RAM</label>
                    <label id="ts5"><input type="checkbox" data-col="ip" checked class="columnToggle"> IP</label>
                    <label id="ts6"><input type="checkbox" data-col="desc" checked class="columnToggle"> Açıklama</label>
                    <label id="ts7"><input type="checkbox" data-col="cpu" checked class="columnToggle"> CPU</label>
                    <label id="ts8"><input type="checkbox" data-col="date" checked class="columnToggle"> Tarih</label>

                    {% for col in custom_columns %}
                        <label><input type="checkbox" data-col="custom_{{ col.id }}" checked class="columnToggle"> {{ col.column_name }}</label>
                    {% endfor %}

                </div>

                <div class="table-buttons">

                    <a href="/addcolumn" class="add-btn" id="addColumnBtn" title="Sütun Ekle">
                        ➕
                    </a>

                    <button onclick="openDeleteColumnPanel()" class="delete-btn" id="deleteColumnBtn" title="Sütun Sil">
                        ➖
                    </button> 
                        
                    

                    <button id="editColumnPanelBtn" class="beautify" title="Sütun Düzenle" onclick="openColumnPanel()">
                        ✏️
                    </button>

                </div>

            </div>

        </div>
    </div>

    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <script src="{{url_for('static', filename='js/TranslateFiles/indexTranslate.js')}}"></script>
</body>

</html>