<!DOCTYPE html>
<html lang="tr">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GIG Server Inventory Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="toast">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}

    <div class="login-box">

        <h1>🖥️ GIG Server Inventory</h1>

        <p>Hoş Geldiniz</p>

        <form method="POST" action="/login">

            <label for="username">Kullanıcı Adı</label>
            <input type="text" id="username" name="username" placeholder="Kullanıcı Adı" required autocomplete="username">

            <label for="password">Şifre</label>
            <div class="password-box">
                <input type="password" id="password" name="password" placeholder="Şifre" required autocomplete="current-password">
                <span id="toggle">
                    <i class="fa-solid fa-eye"></i>
                </span>
            </div>

            <div class="login-options">

                <div class="rememberMe">

                        <input type="checkbox" id="rememberMe" name="rememberMe">
                        <label for="rememberMe">Beni Hatırla</label>

                </div>
                

                <button type="button" id="langButton">

                    TR / EN

                </button>

            </div>

            <div class="buttons" style="justify-content: center;">
                <button type="submit" class="add-btn login-btn" style="width: 100%; font-weight: bold; border: none; cursor: pointer;">Giriş Yap</button>
            </div>

        </form>

    </div>

    <script src="{{url_for('static', filename='js/TranslateFiles/loginTranslate.js')}}"></script>
    <script src="{{url_for('static', filename='js/login.js')}}"></script>

</body>

</html>
